@import url("https://fonts.google.com/specimen/Poppins");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
    color: black !important;
}
header{
    font-family: "Poppins";
    position: sticky;
    top: 0;
    left: 0;
}
header img{
    height: 50px;
    width: 100px;
}
.navbar .nav-button{
    color: hsl(322, 100%, 66%);
    border-radius: 20em;
    border: 1px solid hsl(322, 100%, 66%);
    box-shadow: 0px 1px 2px 1px #ccc;
}
.navbar .nav-button:hover{
    color: white;
    background-color: hsl(322, 100%, 66%);
    transition: .5s ease-in-out;
}
/* hero section */
.hero .heroButton{
    background-color: hsl(322, 100%, 66%);
    color: white;
    border-radius: 20em;
    outline: none;
}
.hero .heroButton:hover{
    color: hsl(322, 100%, 66%);
    background-color: white;
    transition: .5s ease-in-out;
}

/* FeaturesBox  */
.featuresBody:nth-of-type(odd){
    background-color: hsl(207, 100%, 98%);
}
.featuresButton{
    background-color: hsl(322, 100%, 66%);
    border-radius: 20em;
    color: white;

}
/* footer Designs */
.newsletterBody{
    background-color: hsl(192, 100%, 9%);
    color: white;
}

.footerLogo{
    background: transparent;
    width: 140px;
    height: 45px;
}
.contactImage{
    width: 20px;
    height: 20px;
}
i{
    font-size: 20px;
    margin-right: .5em;
}
input[type="text"]{
    width: 80%; 
}
.subscribe-button{
   color: white;
   background-color: hsl(322, 100%, 66%); 
   margin-top: 10em;
}
.subscribe-button:hover{
    background-color: white;
    color: hsl(322, 100%, 66%);
}


footer{
    background-color: hsl(192, 100%, 9%);
    color: white;
}